<nav class="navbar navbar-expand-lg navbar-dark bg-success">

<div class="container">

<a class="navbar-brand"

href="/">

Trekking Management

</a>

<ul class="navbar-nav ms-auto">

{% if current_user.is_authenticated %}

<li class="nav-item">

<span class="nav-link">

{{ current_user.name }}

</span>

</li>

<li class="nav-item">

<a class="nav-link"

href="{{ url_for('auth.logout') }}">

Logout

</a>

</li>

{% else %}

<li class="nav-item">

<a class="nav-link"

href="{{ url_for('auth.login') }}">

Login

</a>

</li>

{% endif %}

</ul>

</div>

</nav>