{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-body">

<h2>

{{ trek.name }}

</h2>

<hr>

<p>

Location:
{{ trek.location }}

</p>

<p>

Difficulty:
{{ trek.difficulty }}

</p>

<p>

Duration:
{{ trek.duration }} Days

</p>

<p>

Available Slots:
{{ trek.available_slots }}

</p>

<p>

Start Date:
{{ trek.start_date }}

</p>

<p>

End Date:
{{ trek.end_date }}

</p>

<p>

{{ trek.description }}

</p>

<a class="btn btn-success"
   href="{{ url_for('user.book_trek', trek_id=trek.id) }}">
    Book Trek
</a>

</div>

</div>

</div>

{% endblock %}