{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <div class="list-group shadow">

            <a href="{{ url_for('admin.dashboard') }}" class="list-group-item list-group-item-action">

                Dashboard

            </a>

            <a href="{{ url_for('admin.view_treks') }}" class="list-group-item list-group-item-action">

                Manage Treks

            </a>

            <a href="{{ url_for('admin.manage_staff') }}" class="list-group-item list-group-item-action">

                Manage Staff

            </a>

            <a href="{{ url_for('admin.manage_users') }}" class="list-group-item list-group-item-action">

                Manage Users

            </a>

            <a href="#" class="list-group-item list-group-item-action">

                Bookings

            </a>

        </div>

    </div>

    <div class="col-md-9">

        {% block admin_content %}

        {% endblock %}

    </div>

</div>

{% endblock %}